.card {
  background-color: var(--primary-color);
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 15rem;
}
.card_header img {
  width: 100%;
  aspect-ratio: 1 / 0.7;
  object-fit: cover;
}
.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.tag {
  background: var(--primary-color);
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: var(--primary-color);
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag_teal {
  background-color: #47bcd4;
}
.tag_purple {
  background-color: #5e76bf;
}
.tag_pink {
  background-color: #cd5b9f;
}

.card_body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user_info h5 {
  margin: 0;
}
.user_info small {
  color: #545d7a;
}
