.button {
  font: inherit;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background: var(--accent-color);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.button:hover,
.button:active {
  background: #00ddff;
  border-color: #00ddff;
}

.button:focus {
  outline: none;
}
