.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(150, 114, 114); */
  margin: 2rem 2rem 4rem;
}

.navbar__logo {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.navbar__login {
  display: flex;
  align-items: center;
  /* background-color: rgb(43, 123, 177); */
}

.navbar__login > * {
  margin-right: 2rem;
}
